<ul>
  <li><a href="/tutorials/install">Getting Started</a>
    <ul>
      <li><a href="/tutorials/install/oneclick.html">DigitalOcean 1-Click</a></li>
      <li><a href="/tutorials/install/easy-mode.html">DigitalOcean Easy Mode</a></li>
      <li><a href="/tutorials/install/digital-ocean.html">DigitalOcean Self-Install</a></li>
      <li><a href="/tutorials/install/custom-server.html">Custom Servers</a></li>
    </ul>
  </li>
  <li><a href="/tutorials/install/next-steps.html">Next Steps</a></li>
</ul>

<h3>Supplementary Information</h3>
<ul>
  <li><a href="/tutorials/install/getting-a-hostname.html">Getting a Host Name</a>
    <ul>
      <li><a href="/subdomain-tos.html">AresMUSH Subdomains</a></li>
      <li><a href="/tutorials/install/setting-up-dns.html">Domain Hosting With Namecheap</a></li>
    </ul>
  </li>
  
  <li><a href="/tutorials/install/ports.html">Understanding Game Ports</a></li>
  <li><a href="/tutorials/install/https.html">Configuring HTTPS</a></li>
</ul>
