<div class="sidebar">   

    {% include searchbox.html %}
                  
  <div class="sidebar-title">See AresMUSH In Action</div>

  <p>Visit the Ares <a href="http://mush.aresmush.com">Demo Game</a>.</p>

  <p>Find other Ares games at <a href="http://arescentral.aresmush.com">AresCentral</a>.</p>

  <div class="sidebar-title">Stay Up to Date</div>

  <p>Have a question?  Want to talk about AresMUSH (or MU*s in general)?  Join our <a href="/discord.html">Discord chat</a>.</p>

  <p>Watch the [GitHub repo](https://github.com/AresMUSH/aresmush) for new releases.</p>

  <div class="sidebar-title">Latest Blog Posts</div>
    
  <ul class="blog-list">
  {% for post in site.posts limit:10 %}
    <li>
      <a href="{{ post.url }}">
      {{ post.title }}
    </a>
    </li>
    {% endfor %}
    
  </ul>
  
  <p><a href="/blog">[ All Blog Posts ]</a></p>
  
</div>