                      
                      <div class="titlebox">
                                                    
                         <div class="blogtitle">
                         
                            <img class="main-logo" src="{{urls.base_path}}/images/logo-horiz.png" alt="AresMUSH: A new breed of MUSH server.">
                            
                            <img class="mobile-logo" src="{{urls.base_path}}/images/logo.png" alt="AresMUSH: A new breed of MUSH server.">
                                                        
                          </div>
                                                 
                            
                            </div>
                             
                      
                      
                        {% include navbar.html %}
                        